#!/usr/bin/env ruby

# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”. “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'

Compass.add_project_configuration('compass_config.rb')

# ------------ Preprocessing ------------

preprocess do
  items.each do |item|
    if item.identifier =~ /^\/articles\//
      item[:kind] = 'article'
    end
  end
end

# ------------ Compiling ------------

compile %r(^/articles/\d{4}-\d{2}-\d{2}-.+/) do
  filter :kramdown
  layout 'post'
end

compile %r(^/(about|contact)) do
  filter :kramdown
  layout 'default'
end

compile '/' do
  filter :haml
  layout 'default'
end

compile '/javascripts/*/' do
  nil # mark as "don't compile"
end

compile '/images/*/' do
  nil # mark as "don't compile"
end

# compile '/stylesheets/_*/' do
#   nil # sass partials. Do not compile individually
# end

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options 
end

compile '/atom/' do
  filter :haml
end

compile '*' do
  filter :haml
  layout 'default'
end

# ------------ Routing ------------

route %r(^/articles/\d{4}-\d{2}-\d{2}-.+/) do
  item.identifier.gsub(/articles\/\d{4}-\d{2}-\d{2}-(.+)/, '\1index.html')
end

route '/images/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/stylesheets/_*' do
  nil
end

route '/stylesheets/*/' do
  item.identifier.chop + ".css"
end

route '/javascripts/*/' do
  item.identifier.chop + ".js"
end

route '/atom/' do
  '/atom.xml'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
