#!/usr/bin/env ruby

# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”. “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'

Compass.configuration.parse('compass_config.rb')

# ------------ Compiling ------------

compile '/images/*/' do
  nil # mark as "don't compile"
end

compile '/stylesheets/_*/' do
  nil # sass partials. Do not compile individually
end

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options 
end

compile '*' do
  filter :haml
  layout 'default'
end

# ------------ Routing ------------

route '/images/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/stylesheets/_*' do
  nil
end

route '/stylesheets/*/' do
  item.identifier.chop + ".css"
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
