#!/usr/bin/env ruby

# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'

Compass.configuration.parse('compass_config.rb')

# compile '/content/stylesheets/*.sass' do
#   filter :sass, Compass.sass_engine_options
# end

# ------------ Compiling ------------

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options if item[:extension] == 'sass'
end

compile '*' do
  filter :haml
  layout 'default'
end

# ------------ Routing ------------

route '/stylesheets/*' do
  item.identifier.chop + ".css"
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
