---
title: Articles
---
#index
  - sorted_articles[0..9].each do |post|
    %h1= link_to(post[:title], post.reps[0].path)
    %p.date
      #{post.created_at.strftime("%B #{post.created_at.day}, %Y")}
      %span.fancy &sect;
    %p.summary
      #{post[:summary]}
