---
title: Contents
info: Welcome
---

#toc
  - collated_posts.sort.reverse.each do |year, months|
    %h2= year
    - months.each do |month,days|
      %h3= Date::MONTHNAMES[month]
      %ul
        - days.sort.reverse.each do |day,posts|
          - posts.each do |post|
            %li
              %strong.date= "%02d" % day 
              = link_to((post[:title]), post.reps[0].path)
