-render "base" do
  #meta
    #info
      #{@item[:info]}
    %h1#title
      %a{ :href => @item.reps[0].path } #{@item[:title]}
    %ul#share
      %li
        %a{ :href => "http://www.twitter.com/stevenringo" } Follow me on twitter
      %li 
        %a{ :href => "/" } Subscribe
  #main
    ~ yield
