-render "base" do
  #meta
    #info
      #{@item.created_at.strftime("%d <strong>%B<\/strong> %Y")}, <em>by</em> Steven Ringo
    %h1#title
      #{@item[:title]}
    %ul#share
      %li 
        %a{ :href => "/" } Mail me about this
      %li 
        %a{ :href => "/" } Share on twitter
      %li
        %a{ :href => "/" } Read later
      %li
        %a{ :href => "/" } Print
  #main
    ~ yield
