-render "base" do
  #meta
    #info
      #{@item.created_at.strftime("%d <strong>%B<\/strong> %Y")}
    %h1#title
      %a{ :href => @item.reps[0].path } #{@item[:title]}
    %ul#share
      %li
      %li 
        %a{ :href => "/" } Share on twitter
      %li
        %a{ :href => "/" } Read later
      %li
        %a{ :href => "/" } Print
  #main
    ~ yield
