-render "base" do
  #meta
    #info
      #{@item.created_at.strftime("%d <strong>%B<\/strong> %Y")}
    %h1#title
      %a{ :href => @item.reps[0].path } #{@item[:title]}
    %ul#share
      %li
        %a.emailabout{ :href => "", :rel => "moc/ognirnevets//hcuot" } e-mail me about this
      %li
        %a{ :href => "http://twitter.com/home?source=stevenringo.com&status=Reading%20#{@item.short_url}" } Tweet this
  #main
    ~ yield
