@import compass/layout.sass

!thinborder    = 1px "solid" #ddd
!bodytextcolor = #424242

html, body
  height: 100%

#page
  min-height: 100%
  height: auto !important
  height: 100%
  margin-bottom: -100px
  background: red
  
  #push
    clear: both

#footer
  clear: both
  position: relative
  height: 100px

body
  font-family: Georgia, "Hoefler Text", "Times New Roman", serif
  background: white
  color = !bodytextcolor
  line-height: 1.5em  

strong
  font-weight: bold

em
  font-style: italic

#navigation
  width: 100%
  background: #fff
  overflow: hidden
  position: relative
  font-weight: bold
  font-size: 1em

  ul
    clear: left
    float: left
    list-style: none
    margin: 0
    padding: 0
    position: relative
    left: 50%
    text-align: center

    li
      display: block
      float: left
      list-style: none
      position: relative
      right: 50%
      margin-top: 10px
      padding-bottom: 10px
      padding-right: 10px
      border-bottom = !thinborder

    > li:last-child
      padding-right: 0px

    li a
      display: block
      margin: 0 0 0 1px
      padding: 2px 2px
      color: #505050
      text-decoration: none
      line-height: 1.3em

      &:hover
        color: #1b5f94

      &.active
        color: #1b5f94

        &:hover
          color: #1b5f94

#logo h1 a
  text-indent: -9999em
  overflow: hidden
  height: 174px
  width: 950px
  background-image: url("/images/theme/apparently-so-logo.png")
  background-repeat: no-repeat
  background-position: 50% 50%
  margin: 60px auto 60px auto
  display: block

#meta
  text-align: center

  #date
    border-bottom: 1px solid #c5c5c5

  #title
    padding: 30px 0 60px 0
    margin-bottom: 20px
    background: url(/images/theme/title-flourish.png) no-repeat center bottom
    font-size: 1.6em
    font-weight: bold
    color: #2c2c2c
    line-height: 1.2em

  #share
    border-top: 1px solid #c5c5c5
    padding-top: 10px
    font-size: 0.95em
    color: #686868

    li
      line-height: 1.4em
      
      a
        color: #1b5f94
        text-decoration: none
      
        &:visited
          color: #686868

        &:hover
          color: #1b5f94

        &.active
          color: #1b5f94

          &:hover
            color: #1b5f94

#main

  p
    margin-bottom: 1em

  a
    text-decoration: none
    color: #1b5f94

    &:visited
      color = !bodytextcolor

    &:hover
      color: #1b5f94

    &.active
      color: #1b5f94

      &:hover
        color: #1b5f94

  h2
    margin-top: 0
    margin-bottom: 0
    font-size: 1.33333em
    font-weight: bold
    padding: 1.2em 0 0.6em 0

  h3
    margin-top: 0
    margin-bottom: 0
    font-size: 1.16667em
    font-weight: bold
    padding: 1.2em 0 0.6em 0

  blockquote
    padding-left: 20px
    border-left: 1px solid #ccc
    margin-left: 20px
    font-style: italic
  
  pre
    border= !thinborder
    font-family: Monaco, Menlo, "Courier New"
    font-size: 0.8em
    background: #fff
    padding: 2px
    line-height: 1.3em
    font-size: .75em
    overflow: auto
    code
      border= !thinborder
      background: #f8f8f8
      padding: 10px
