body
  font-family: "Helvetica"
  background: white

#navigation
  width: 100%
  background: #fff
  overflow: hidden
  position: relative
  font-weight: bold
  font-size: 0.9em

  ul
    clear: left
    float: left
    list-style: none
    margin: 0
    padding: 0
    position: relative
    left: 50%
    text-align: center

    li
      display: block
      float: left
      list-style: none
      position: relative
      right: 50%
      margin-top: 10px
      padding-bottom: 10px
      padding-right: 10px
      border-bottom: 1px solid #cfdde5

    > li:last-child
      padding-right: 0px

    li a
      display: block
      margin: 0 0 0 1px
      padding: 2px 2px
      color: #505050
      text-decoration: none
      line-height: 1.3em

      &:hover
        color: #1b5f94

      &.active
        color: #1b5f94

        &:hover
          color: #1b5f94


#logo h1 a
  text-indent: -9999em
  overflow: hidden
  height: 99px
  width: 634px
  background-image: url("../images/theme/apparently-so-logo.png")
  background-repeat: no-repeat
  background-position: 50% 50%
  margin: 90px auto 90px
  display: block

#content
  padding-bottom: 200px
  font-size: 1.05em
  line-height: 1.6em
  margin-top: 0px
  color: #444
  font-family: "Times New Roman"
  line-height: 1.6em
  font-size: 0.98em

  p
    margin-bottom: 0.9em

  h1
    font-size: 1.3em
    color: #1b5f94
    font-weight: bold
    font-family: Helvetica
    margin-left: 160px


  h2
    font-size: 1.15em
    padding-top: 0.5em
    padding-bottom: 0.3em
    font-weight: bold
    font-family: Helvetica
    color: #1b5f94

  h3
    font-size: 1.1em
    padding-top: 0.5em
    padding-bottom: 0.5em
    font-weight: bold
    color: #1b5f94
    font-family: Helvetica

  .heading
    border-bottom: 1px solid #cfdde5
    padding-bottom: .1em
    margin-bottom: .5em
    position: relative

  .date
    font-family: Helvetica
    font-weight: bold
    font-size: 0.90em
    position: absolute
    bottom: 0
    left: 0

    .year
      font-family: "Helvetica Neue"
      font-weight: 200

  .heading h1
    font-size: 1.3em
    color: #1b5f94
    font-weight: bold
    font-family: Helvetica
    margin-left: 160px

  blockquote
    padding-left: 20px
    border-left: 1px solid #ccc
    margin-left: 20px
    font-style: italic
  pre
    padding: 10px
  
  pre code
    font-family: Monaco, Menlo, "Courier New"
    font-size: 0.9em
    

html, body, #page
  height: 100%


body > #page
  height: auto
  min-height: 100%


#pagewidth
  position: relative
  margin-top: -100px
  height: 99px
  clear: both
  font-size: 0.8em
  line-height: 1.4em
  background: #f2f2f2
  border-top: 1px solid #cfdde5


#footer
  padding-top: 15px

  #search
    text-align: right


a
  &#twitter
    background-image: url(../images/theme/twitter.png) "no-repeat"
    height: 24px
    padding-left: 32px
    padding-bottom: 5px
    display: block
    line-height: 24px
    font-weight: bold
    color: #1b5f94

  &#rss
    background-image: url(../images/theme/rss.png) "no-repeat"
    height: 24px
    padding-left: 32px
    display: block
    line-height: 24px
    font-weight: bold
    color: #1b5f94


#search form input[type=text]
  width: 200px


