!thinborder    = 1px "solid" #ccc
!bodytextcolor = #444

html, body
  height: 100%

body
  font-family: Georgia, "Hoefler Text", "Times New Roman", serif
  background: white
  color = !bodytextcolor
  line-height: 1.5em  

  #page
    min-height: 100%
    height: auto !important
    height: 100%
    margin-bottom: -60px

    #filler
      clear: both
      height: 60px

#footer
  clear: both
  position: relative
  height: 59px
  line-height: 59px
  border-top= !thinborder

strong
  font-weight: bold

em
  font-style: italic
  
sup
  vertical-align: super
  font-size: 0.8em

#navigation
  width: 100%
  overflow: hidden
  position: relative
  font-weight: bold
  font-size: 0.9em

  ul
    clear: left
    float: left
    list-style: none
    margin: 0
    padding: 0
    position: relative
    left: 50%
    text-align: center
    padding-right: 0px

    li
      display: block
      float: left
      list-style: none
      position: relative
      right: 50%
      margin-top: 10px
      padding-bottom: 0px
      padding-right: 5px
      padding-left: 5px
      border-bottom = !thinborder

    li a
      display: block
      margin: 0 0 0 1px
      padding: 2px 2px
      color: #505050
      text-decoration: none
      line-height: 1.3em

      &:hover
        color: #1b5f94

      &.active
        color: #1b5f94

        &:hover
          color: #1b5f94

#logo h1 a
  text-indent: -9999em
  overflow: hidden
  height: 175px
  width: 950px
  background: url("/images/theme/apparently-so-logo.png") no-repeat center top
  margin: 40px auto 60px auto
  padding-bottom: 20px
  display: block
  border-bottom= !thinborder

#meta
  text-align: center

  #info
    color: #999
    border-bottom: 1px solid #eee

  #title
    padding: 30px 0 60px 0
    margin-bottom: 20px
    background: url(/images/theme/title-flourish.png) no-repeat center bottom
    font-size: 1.6em
    font-weight: bold
    color: #2c2c2c
    line-height: 1.2em

  #share
    border-top: 1px solid #eee
    padding-top: 10px
    font-size: 0.95em
    color: #999

    li
      line-height: 1.4em
      
      a
        color: #1b5f94
        text-decoration: none
      
        &:visited
          color: #1b5f94

        &:hover
          color: #1b5f94

        &.active
          color: #1b5f94

          &:hover
            color: #1b5f94

#main
  padding-bottom: 50px
  margin-bottom: 40px
  background: url(/images/theme/post-flourish.png) no-repeat center bottom

  p
    margin-bottom: 1.5em

  > p:first-child:first-letter
    font-size: 3.2em
    padding-top: 12px
    padding-right: 8px
    font-weight: bold
    float: left

  a
    text-decoration: none
    color: #1b5f94

    &:visited
      color: #1b5f94

    &:hover
      color= !bodytextcolor

    &.active
      color: #1b5f94

      &:hover
        color: #1b5f94
  h2
    margin-top: 0
    margin-bottom: 0
    font-size: 1.33333em
    font-weight: bold
    padding: 0 0 1.2em 0

  h3
    margin-top: 0
    margin-bottom: 0
    font-size: 1.16667em
    font-weight: bold
    padding: 0 0 1.2em 0

  blockquote
    padding-left: 20px
    border-left: 1px solid #ccc
    margin-left: 20px
    font-style: italic

  code
    font-family: "Courier New"
    font-size: 0.9em
    color: black
    font-weight: bold

  pre
    border= !thinborder
    background: #fff
    padding: 2px
    line-height: 1.3em
    overflow: auto
    margin-bottom: 2em
    code
      border= !thinborder
      background: #f8f8f8
      padding: 10px
      
  ul
    margin-bottom: 1.5em
    li
      margin-bottom: 1em
      list-style-type: disc
      margin-left: 2em
      list-style-position: outside

  ol
    margin-bottom: 1.5em
    li
      margin-bottom: 1em
      list-style-type: decimal
      margin-left: 2em
      list-style-position: outside

  img
    border= !thinborder
    background: #fff
    padding: 10px
    display: block
    margin: auto

  #toc
    margin-left: 5em

    h2
      float: left
      margin-left: -5em
      color: gray

    h3
      padding-bottom: 1em

    ul
      li
        list-style-type: none
        text-indent: -3em
        margin-left: 3em

        .date
          padding-right: 3em
          float: left
          color: #aaa

      

.footnotes
  font-size: 0.8em

#copyright
  font-size: 0.75em
  text-align: center
  color: #999

  a
    text-decoration: none
    color: #666

    &:visited
      color = #666

    &:hover
      color: #1b5f94

    &.active
      color: #1b5f94

      &:hover
        color: #1b5f94
